.bg-login{
  background: var(--Color-neutralSurface);
  background-image:url("/welcome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login{
  display: flex;
  width: auto;
  height: 912px;
  justify-content: center;
  align-items: center;
  padding-top: 120px;

}
.card{
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1 0 0;
  width: 680px;
  min-width: 360px;
  max-width: 1000px;
  overflow: hidden;
  padding: 80px 40px;
  border-radius: 20px;
  background:var(--Color-neutralSurface);
  justify-content: center;
  align-items: center;
  gap: 32px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.10);
}

.formulario{
  display: flex;
  flex-direction: column;
  gap: 24px;
}



