.navbar{
  background-color: var(--Color-NeutralSurfaceBright);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px;
  flex-wrap: wrap;
  row-gap: 10px;
  align-content: center;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.10);
}

.navbar a{
  color: var(--Color-Primary);
}

.icon {
  width: 80px;
  height: 60px;
  flex-shrink: 0;
}



