:root {

  /* Color */
  --Color-neutralSurface:#F8F4EA;
  --Color-NeutralSurfaceBright: #FFFEFC;
  --Color-NeutralOnSurface: #232323;
  --Color-NeutralOnSurfaceVar: #4D4D4D;
  --Color-NeutralOutline: #A9A59A;
  --Color-NeutralSurfaceDim: #E4E4E3;

  --Color-Primary: #365980;
  --Color-OnPrimary: #EFF6FB;
  --Color-PrimaryContainer:#A5CCE5;
  --Color-OnPrimaryContainer:#587CA6;

  --Color-Custom: #C0E8FD;

  --Color-CustomOpacityBlack:#2323234D;
  --Color-CustomOpacityWhite:#ffffff4e;

  --Color-OnErrorContainer:#73050B;
  --Color-Error:#B6411B;
  --Color-OnError: #FFFBFB;

  --Color-OnSucessContainer:#006E46;
  --Color-Sucess:#3EDCA3;
  --Color-SucessConteiner:#DBF3EA;


   /* Typografy */
   @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&display=swap');
   --Font-Headline:'Merriweather', serif;
   --Font-Body: 'Montserrat', sans-serif;
   --weightNormal: 400;
   --weightBold: 700;
   --headline-family:  Merriweather;
   --content-family:  Montserrat;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body{
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--Color-neutralSurface);
}
li,label,p{
  list-style: none;
}
a,label,p{
  text-decoration: none;
}

.font-h1{
font-family: var(--Font-Headline);
font-size: 96px;
font-style: normal;
font-weight: var(--weightNormal);
line-height: 0;
letter-spacing: -1.44px;
}

.font-h2{
font-family: var(--Font-Headline);
font-size: 60px;
font-style: normal;
font-weight: var(--weightNormal);
line-height: 0;
letter-spacing: -0.3px;
}

.font-h3{
font-family: var(--Font-Headline);
font-size: 60px;
font-style: normal;
font-weight: var(--weightNormal);
line-height: 0;
letter-spacing: -0.3px;
}

.font-h4{
font-family: var(--Font-Headline);
font-size: 40px;
font-style: normal;
font-weight: var(--weightNormal);
line-height: 0;
letter-spacing: -0.3px;
}

.font-subtitle1{
  font-family: var(--Font-Body);
  font-size: 32px;
  font-style: normal;
  font-weight: var(--weightNormal);
  line-height: 0;
  }

.font-subtitle2{
  font-family: var(--Font-Body);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--weightNormal);
  line-height: 0;
  }

.font-body{
  font-family: var(--Font-Body);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--weightNormal);
  line-height: 0;
  }
  
.font-button{
  font-family: var(--Font-Body);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--weightBold);
  line-height: 0;
  letter-spacing: 0.21px;
  text-transform: uppercase;
  }

.font-button :hover{
  color:var(--Color-CustomYellow);
}

.color-neutralSurface{
  color: var(--Color-neutralSurface);
}
.color-neutralSurfaceBright{
  color: var(--Color-NeutralSurfaceBright);
}
.color-neutralOnSurface{
  color: var(--Color-NeutralOnSurface);
}

.color-neutralOnSurfaceVar{
  color: var(--Color-NeutralOnSurfaceVar);
}
.color-neutralOutline{
  color: var(--Color-NeutralOutline);
}
.color-neutralSurfaceDim{
  color: var(--Color-NeutralSurfaceDim);
}
.color-primary{
  color: var(--Color-Primary);
}
.color-onPrimary{
  color: var(--Color-OnPrimary);
}
.color-primaryContainer{
  color: var(--Color-PrimaryContainer);
}
.color-onPrimaryContainer{
  color: var(--Color-OnPrimaryContainer);
}
.color-custom{
  color: var(--Color-Custom);
}
.color-customOpacityBlack{
  color: var(--Color-CustomOpacityBlack);
}
.color-customOpacityWhite{
  color: var(--Color-CustomOpacityWhite);
}
.color-onErrorContainer{
  color: var(--Color-OnErrorContainer);
}
.color-error{
  color: var(--Color-Error);
}
.color-OnError{
  color: var(--Color-OnError);
}
.color-onSucessContainer{
  color: var(--Color-OnSucessContainer);
}
.color-sucess{
  color: var(--Color-Sucess);
}
.color-sucessConteiner{
  color: var(--Color-SucessConteiner);
}

/**
 color-scheme: light dark;
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
**/